<template name='userList'>
    <h3 class="py-3">Users List</h3>
    <p>Here you can see all users</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Login</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Group</th>
                    <th scope="col">More</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each appusers}}
                <tr>   
                    <th scope="col">{{@index}}</th>
                    <td><a href="/user/{{_id}}">{{login}}</a></td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td><a href='/group/{{group._id}}'>{{group.name}}</a></td>                                         
                    <td><a href="/user/{{_id}}" class="btn btn-primary more pull-right">More</a></td>
                    <td><button type="button" class="btn btn-danger deleteUser">Delete</button></td>                
                </tr>
                {{/each}}                                                   
            </tbody>           
        </table>
    </div>	
</template>