<template name='userList'>
    <h2 class="sub-header">Users List</h2>
    <p>Here you can see all users</p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Group</th>
            </tr>
            </thead>
            <tbody>
                {{#each appusers}}
                <tr>
                    <td></td>
                    <td>{{login}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td></td>
                    <td><a href="/user/{{_id}}" class="btn btn-primary more pull-right">Więcej</a></td>
                    <td><button type="button" class="btn btn-primary deleteUser"><i class="glyphicon glyphicon-trash"></i> Delete</button></td>
                </tr>
                {{/each}}                                                   
            </tbody>           
        </table>

        {{#each group}}
            {{_id}}-{{name}}
        {{/each}}
    </div>	
</template>