<template name="addUser">
    <div class="container">
        <div class="col-lg-12 col-md-10" style='margin-top: 20px;'>           
            <form id='addUserForm'>
                <div class="row">
                    <div class="col-md-6 form-group">                        
                        <label>Login</label>
                        <input type="text" class="form-control" id="userLogin" name="userLogin" placeholder="">                        
                    </div>
                    <div class="col-md-6 form-group">                        
                        <label>Password</label>
                        <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="">                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" id="userFirstName" name="userFirstName" placeholder="">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" id="userLastName" name="userLastName" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Birth Date</label>
                        <input type="date" class="form-control" id="userBirthDate" name="userBirthDate" placeholder="">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Group</label>
                        <select class="form-control"  id="userListSelect" name='userListSelect'>
                            <option selected>Default</option>
                            <option disabled="disabled">Please Select</option> 
                            {{#each groups}}
                                <option value="{{_id}}">{{name}}</option> 
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id='createNewUserBtn' class="btn btn-primary">Create New User</button>
                    </div>                    
                </div>                                                
            </form>                
        </div>            
    </div>	
</template>