<template name="userInfo">
    <div class="container">
        <div class="col-lg-12 col-md-10">  
        {{#with user}}  

        <h2 class="sub-header">User Details</h2>
        <p>Here you can see all users details</p>       
        <ul>
            <li>{{_id}}</li>
            <li>{{login}}</li>
            <li>{{password}}</li>
            <li>{{firstName}}</li>
            <li>{{lastName}}</li>
            <li>{{birthDate}}</li>
            <li>{{listType}}</li>
            <li>{{createdAt}}</li>
            <li>{{lastModified}}</li>
        </ul>       

        <form id='editUserForm'>
            <div class="row">
                <div class="col-md-6 form-group">                        
                    <label>Login</label>
                    <input type="text" class="form-control" id="userLogin" name="userLogin" value='{{login}}'>                        
                </div>
                <div class="col-md-6 form-group">                        
                    <label>Password</label>
                    <input type="password" class="form-control" id="userPassword" name="userPassword" value="{{password}}">                        
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" id="userFirstName" name="userFirstName" value="{{firstName}}">
                </div>
                <div class="col-md-6 form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="userLastName" name="userLastName" value="{{lastName}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Birth Date</label>
                    <input type="date" class="form-control" id="userBirthDate" name="userBirthDate" value="{{birthDate}}">
                </div>
                <div class="col-md-6 form-group">
                    <label>Group</label>
                    <select class="form-control"  id="userListSelect" name='userListSelect'>
                        <option selected>{{myGroup.name}}</option>
                        {{#each group}}
                            <option value="{{_id}}">{{name}}</option> 
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right" role="group" aria-label="UI buttons">
                        <button type="submit" id='deleteUserBtn' class="btn btn-primary">Delete User</button>
                        <button type="submit" id='editUserBtn' class="btn btn-primary">Update User</button>	
                        <button type="button" class="btn btn-primary">Cancel</button>
                    </div>
                </div>                                    
            </div>                                                
        </form> 
        {{/with}}	        
        </div>
    </div>
</template>